# PlatformIO project files
.pio

# MacOS nonsense
.DS_Store

# Decompilation output
disassembly.txt

# VSCode stuff
.vscode/

# gerber bundle
*.zip

# backup files
*.bak

# We don't need any of these
docs/
lib/
test/